body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #009474;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.featured-games {
    padding: 20px 0;
}

.game-card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game-card img {
    max-width: 50%;
    border-radius: 20px;
}

.game-card h2 {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
